<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="firebasePushNotificationUrl" value="https://fcm.googleapis.com/fcm/send"/>
    <add key="serverKey" value="AAAAYdlvRPg:APA91bHwCwVmKIj00r_k2GsdWbISgKXSN0PCp6CPIGE_3v-9GYbWRIzaMFk9MLL9Co7yFwVW6TE0SrABuqLHR97jbaYHeYaLgMAQjzv3BMFpL5ehgrpockyrBKQiCsMya6vanP9SZEAb" />
  </appSettings>
</configuration>